{% extends 'base.html.twig' %}

{% block title %}Lista{% endblock %}

{% block body %}

    <div class="container">

        {% for message in app.flashes('info') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">body</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Author Surame</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td> {{ post.id }}</td>
                            <td> {{ post.title }}</td>
                            <td> {{ post.body }}</td>
                            <td> {{ post.authorName }}</td>
                            <td> {{ post.authorSurname }}</td>
                            <td><a href="{{ path('delete_post', {post: post.id}) }}" class="text-danger" onclick="return confirm('Jesteś pewien ?');">Usuń</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(posts) }}
            </div>

        </div>
    </div>

{% endblock %}
